---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
import { Picture } from "astro:assets";
//Images
import LogoImage from "~/assets/images/logo.png";
---

<footer class="bg-green-100 text-brand-green">
	<div class="container pt-16 pb-8">
		<p class="text-center font-bold bg-white text-4xl">
			<div slot="hero-content-left">
				<Picture
						class:list={"mx-auto"}
						src={LogoImage}
						height={50}
						formats={["avif", "webp"]}
						alt="A description of my image."
						loading={"eager"}
						fetchpriority={"high"}
				/>
			</div>
		</p>
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline">
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}
		<br/>Site statique réalisé sans IA sous <a href="https://astro.build/">Astro</a></p>
	</div>
</footer>
